*{outline:none;}
html{background:#1a1a1a url(../images/background.jpg) no-repeat center top;}
body{padding:50px 0 20px;font:normal 13px \5fae\8f6f\96c5\9ed1;}
a:link,a:visited{
	color:#000;text-decoration:none;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
a:hover,a:active{text-decoration:underline;color:#006ab6;}
#header,#nav,#gallery,#container,#case,#friendLinks,#footer,.layout{width:959px;margin:0 auto;}


#header{height:80px;background:url(../images/headerBg.gif) no-repeat;border-radius:10px 10px 0 0;}
#nav{height:44px;line-height:44px;background:url(../images/navBg.gif) repeat-x;}
#nav a{float:left;width:100px;text-align:center;position:relative;margin-right:1px;}
#nav a::after{background:url(../images/navLine.gif) no-repeat center center;content:"";width:2px;top:0;z-index:1;left:100%;position:absolute;height:44px;}
#nav a:hover{text-decoration:none;background:url(../images/navHover.gif) no-repeat center top;}

#gallery{height:280px;background-color:#ddd;overflow:hidden;}

#case{background:#fff url(../images/caseBg.jpg) repeat-x left bottom;color:#333;padding:10px;width:939px;}
#case .title{font-size:16px;margin-bottom:8px;}
#case figure{float:left;margin-right:33px;position:relative;left:15px;}
#case .pic{
	opacity:.8;
	-moz-transition:opacity .2s ease-out;
	-webkit-transition:opacity .2s ease-out;
	-o-transition:opacity .2s ease-out;
	transition:opacity .2s ease-out;
}
#case .pic:hover{opacity:1;}
#case .pic img{width:150px;height:150px;margin-bottom:6px;}
#case figcaption a{display:block;text-indent:2px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:150px;}

#container,#friendLinks{background-color:#fff;}
#container{padding:4px;width:951px;}
#main{float:left;width:675px;}
#side{float:right;width:263px;}

#friendLinks .cnt{background-color:#f7f7f7;padding:20px;}
#friendLinks a{margin-right:20px;float:left;}

#footer{padding:10px 0;border-radius:0 0 10px 10px;background:#f7f7f7 url(../images/footerBg.png) repeat-x left bottom;text-align:center;line-height:180%;}
#footer a[rel=index]{
	text-decoration:underline;color:#006ab6;
}
#footer a[rel=index]:hover{color:#000;}

.mbox,.sbox{margin-bottom:10px;}
.mbox .cnt,.sbox .cnt{padding:10px;}
.mbox .detail{line-height:180%;}

.mbox .table{width:100%;}
.mbox th,.mbox td{border:1px solid #777;padding:16px;}
.mbox th{width:30%;}
.mbox td{width:70%;}

.sbox .title{color:#fff;text-indent:2em;height:36px;line-height:36px;background:url(../images/sboxTitleBg.jpg) no-repeat;}
.sbox .cnt{border:1px solid #f1f0f0;}
.sbox ol li{
	border-bottom:1px dashed #ccc;line-height:36px;text-indent:1em;
	-moz-transition:text-indent .2s ease-out;
	-webkit-transition:text-indent .2s ease-out;
	-o-transition:text-indent .2s ease-out;
	transition:text-indent .2s ease-out;
}
.sbox ol li:hover{text-indent:2em;}


.mbox .title{
	height:36px;line-height:32px;text-indent:46px;font-size:14px;color:#191919;
	background:url(../images/mboxTitleBg.png) no-repeat,url(../images/mboxTitleBg.png) repeat-x left bottom;
	-pie-background:url(../images/mboxTitleBg.png) no-repeat,url(../images/mboxTitleBg.png) repeat-x left bottom;
}
#header,#footer,.mbox .title{behavior:url(../css/PIE.htc);}
