html{background:#9b9b9b url(../images/global/page-bg.png) repeat-x;}
body{background:url(../images/global/wave.png) no-repeat 33% 46px;}
.layout,#header,#container{width:978px;margin:0 auto;}
#header{height:173px;position:relative;}
#header menu{height:25px;line-height:23px;font-weight:bold;text-align:right;padding-right:27px;}
#header menu a{background-repeat:no-repeat;background-position:left center;margin-left:14px;color:#ccc;padding-left:18px;}
#addFav{background-image:url(../images/icon/fav-a.png);}
#setHome{background-image:url(../images/icon/home-a.png);}
#logo{clear:both;text-indent:-9999px;float:left;background:url(../images/global/logo.png) no-repeat;margin:28px 0 0 10px;height:110px;width:237px;}
#nav{width:522px;display:inline;height:36px;padding:13px 0 0 59px;background:url(../images/global/nav-sprite.png) no-repeat;float:right;margin-right:136px;}
#nav a{margin-right:57px;background-image:url(../images/global/nav-sprite.png);background-repeat:no-repeat;float:left;text-indent:-9999px;width:78px;height:18px;}
#nav .home{background-position:left -51px;margin-right:59px;width:38px;}
#nav .about-us{background-position:-97px -51px;}
#nav .intro{background-position:-240px -51px;}
#nav .join{background-position:-383px -51px;}
#nav .home:hover{background-position:left -91px;}
#nav .about-us:hover{background-position:-97px -91px;}
#nav .intro:hover{background-position:-240px -91px;}
#nav .join:hover{background-position:-383px -91px;}
#header h2.desc,#header h3.desc{position:absolute;background-image:url(../images/global/desc-sprite.png);background-repeat:no-repeat;text-indent:-9999px;}
#header h2.desc{width:330px;height:44px;top:90px;left:262px;}
#header h3.desc{width:395px;height:24px;top:140px;left:422px;background-position:left bottom;}
#sider-primary{float:left;width:220px;}
#login{width:169px;margin-bottom:7px;height:191px;padding:22px 26px 0 25px;background:url(../images/global/login-bg.png) no-repeat;}
#login .title,#service .title{text-transform:uppercase;color:#f1ab10;line-height:20px;font-size:14px;}
#login .title span,#service .title span{color:#fff;padding-left:16px;}
#login label,#login .textbox{display:block;color:#fff;}
#login label{line-height:26px;font-weight:bold;text-indent:2px;}
#login .textbox{font-family:georgia;}
#login .login,#login .register{width:74px;height:32px;text-indent:-9999px;background-color:transparent;background-image:url(../images/global/login-btn-sprite.png);background-repeat:no-repeat;float:left;margin-top:11px;}
#login .register{background-position:right top;float:right;}
#login .textbox{height:24px;line-height:24px;border:none;width:163px;background-color:#5f5f5f;}
#links a{display:block;text-indent:-9999px;margin:0 auto 2px;width:215px;height:46px;background:url(../images/global/links-btn-sprite.png) no-repeat;}
#links .register{height:55px;}
#links .enter-game{background-position:left -56px;}
#links .download{background-position:left -104px;}
#service{height:167px;text-align:center;}
#service .title{text-indent:12px;text-align:left;height:50px;line-height:50px;}
#service p{line-height:26px;background-repeat:no-repeat;text-transform:uppercase;color:#989595;text-indent:24px;background-position:34px center;}
#service p span{color:#d2940a;}
#service .email{background-image:url(../images/icon/email-a.png);background-position:36px center;}
#service .msn{background-image:url(../images/icon/msn-a.png);}
#service .icq{background-image:url(../images/icon/icq-a.png);}
#service .get-service{background:url(../images/global/get-services.png) no-repeat;text-indent:-9999px;display:block;margin:0 auto;width:92px;height:42px;}

#content-primary{float:left;width:544px;margin-left:3px;}

#sider-secondary{float:right;width:208px;}
#game-set{height:206px;text-align:center;}
#game-set .cbox-title{margin-bottom:9px;}
#game-set a{margin-bottom:3px;display:inline-block;}
#stud{height:141px;text-align:center;}
#stud .cbox-title{margin-bottom:6px;}
#stud a{display:inline-block;}
#ranking{height:159px;}
#ranking table{width:190px;margin:0 auto;}
#ranking th,#ranking td{text-align:center;}
#ranking th{color:#2eb832;height:22px;}
#ranking td{color:#959595;height:21px;}
#ranking tr:nth-child(2n){background:rgba(82,82,80,.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f525250,endColorstr=#3f525250)\9;
}
#ranking tr:nth-child(2) td,#ranking tr:nth-child(3) td,#ranking tr:nth-child(4) td{color:#cc6512;}

#footer{text-align:center;margin-top:14px;}
#footer .prompt{behavior:url(/css/PIE.htc);width:970px;height:30px;line-height:30px;border-radius:5px;background-color:#2c2d2c;color:#cfcfcf;}
#footer .us{height:26px;line-height:26px;border-bottom:1px solid #070807;}
#footer .us a{color:#040404;margin:0 13px;}
#footer .copyright{color:#d0d0d0;border-top:1px solid #8e8e8e;background-color:#525250;line-height:20px;padding:8px 0;}

/* module */
.cbox-type-a{background:url(../images/module/cbox-type-a.png) no-repeat;width:216px;}
.cbox-type-b{background:url(../images/module/cbox-type-b.png) no-repeat;width:542px;overflow:hidden;}
.cbox-type-c{background:url(../images/module/cbox-type-c.png) no-repeat;width:208px;}
.cbox{overflow:hidden;}
.cbox .cbox-title{height:34px;line-height:34px;overflow:hidden;background:url(../images/module/cbox-title-sprite.png) no-repeat;text-indent:-9999px;}
.cbox .cbox-title .more{float:right;background:url(../images/icon/more-a.png) no-repeat;width:36px;height:13px;margin:12px 14px 0 0;}
.cbox-title.dynamic{background-position:12px 11px;}
.cbox-title.process{background-position:12px -29px;}
.cbox-title.recommand{background-position:14px -67px;}
.cbox-title.ranking{background-position:14px -105px;}
.cbox{background-position:right bottom;padding-bottom:11px;margin-bottom:6px;} /* 所有模块高度减十一 */
