#gallery{height:197px;width:524px;padding:10px 11px 10px 9px;overflow:hidden;z-index:1;background:url(../images/slider.png) no-repeat;margin-bottom:6px;}
#gallery .slides{position:relative;width:524px;height:197px;overflow:hidden;}
#gallery .container{width:524px;height:198px;overflow:hidden;display:block;z-index:88;}
#gallery .pagination{position:absolute;z-index:99;
background-image:url(../images/slides-bg.png);padding:5px 3px;right:0;bottom:7px;
}
#gallery .pagination li{float:left;display:inline;width:25px;height:25px;margin:0 3px;}
#gallery .pagination a{display:block;width:25px;height:25px;text-align:center;line-height:25px;color:#ccc;font-weight:bold;}
#gallery .pagination .current a{background-color:#ebe507;color:#000;}

#dynamic{height:210px;width:542px;}
#dynamic .tab{margin:0 4px;}
#dynamic .tabs{border-bottom:2px solid #391c00;margin-bottom:1px;padding-left:9px;}
#dynamic .tabs li,#dynamic .tabs a{width:114px;height:27px;font-weight:bold;line-height:27px;}
#dynamic .tabs li{float:left;display:inline;margin-left:2px;background:url(../images/dynamic-tabs.png) no-repeat;}
#dynamic .tabs a{text-indent:-9999px;outline:none;display:block;background-repeat:no-repeat;background-image:url(../images/dynamic-tabs-off.png);}
#dynamic .tabs .a{background-position:center 6px;}
#dynamic .tabs .b{background-position:center -20px;}
#dynamic .tabs .c{background-position:center -45px;}
#dynamic .tabs .d{background-position:center -71px;}
#dynamic .tabs .current{background-position:right top;}
#dynamic .tabs .current a{background-image:url(../images/dynamic-tabs-on.png);}
#dynamic .tabs .current .a{background-position:center 6px}
#dynamic .tabs .current .b{background-position:center -24px}
#dynamic .tabs .current .c{background-position:center -53px}
#dynamic .tabs .current .d{background-position:center -83px}
#dynamic .panels{padding:0 7px;}
#dynamic .panels article{width:520px;height:149px;}
#dynamic .panels .list li{background:url(../images/icon/news-a.png) no-repeat left center;padding:0 8px 0 48px;height:24px;line-height:24px;border-bottom:1px dotted #3d3d3d;}
#dynamic .panels .list li:last-child{border-top:none;}
#dynamic .panels .list a{color:#fff;}
#dynamic .panels .list .date{float:right;color:#fff;}

#game-process{height:90px;_height:93px;text-align:center;}
#game-process .cbox-title{margin-bottom:11px;}
